<h1>Listing expenses</h1>

<table>
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Payment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.id %></td>
    <td><%= expense.user %></td>
    <td><%= expense.description %></td>
    <td><%= expense.amount %></td>
    <td><%= expense.payment %></td>
    <td><%= link_to 'Show', expense %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
    <td><%= link_to 'Destroy', expense, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expense', new_expense_path %>
