<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @expense.id %>
</p>

<p>
  <b>User:</b>
  <%= @expense.user %>
</p>

<p>
  <b>Description:</b>
  <%= @expense.description %>
</p>

<p>
  <b>Amount:</b>
  <%= @expense.amount %>
</p>

<p>
  <b>Payment:</b>
  <%= @expense.payment %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
