<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @payment.user %>
</p>

<p>
  <b>Expense:</b>
  <%= @payment.expense %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
